body {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
				}

	.contents {
					width:100%;
					height: :calc(100%-50px);
					display: flex;
					flex-direction: :row;
				}

	.main {
					background-color: skyblue;
					flex-basis:100%
				}

	.main header {
					background-color: lightgray;
					height: 30px;
					overflow: hidden;
				}

	.left {
					background-color: pink;
					flex-basis: 200px;
					flex-shrink: 0;
					overflow: hidden;
				}

	.right {
					background-color: greenyellow;
					flex-basis: 300px;
					flex-shrink: :0;
					overflow: :hidden
				}

	footer {
				background-color: yellow;
				height: 50px;
				flex-shrink: 0;
				}
